.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.link{
    text-decoration: none;
    color: black;
}
.gender{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 50vw;
}
.gender input{
    display: none;
}
.title{
    color: green;
    margin-bottom: 1rem;
}

.gender .male-check{
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    outline: 3px solid green;
    outline-offset: 0.1rem;
    margin-left: -2rem;
}
.gender>input:checked+.male-check{
    background-color: green;
}
.gender .female-check{
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    outline: 3px solid green;
    outline-offset: 0.1rem;
}
.gender>input:checked+.female-check{
    background-color: green;
}